# 公共层：两台机器完全相同的部分。个人层（身份、代理）在 ~/.gitconfig 里，
# 由 dot_gitconfig.tmpl 部署。git 先读 ~/.config/git/config 再读 ~/.gitconfig，
# 后者覆盖前者，所以个人层天然优先于公共层。

[init]
	defaultBranch = main
[core]
  pager = delta
	quotepath = false
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  light = false
  line-numbers = true
  side-by-side = true
  syntax-theme = OneHalfDark
[credential "https://github.com"]
	helper = 
	helper = !{{ .chezmoi.homeDir }}/.local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !{{ .chezmoi.homeDir }}/.local/bin/gh auth git-credential
[i18n]
	logOutputEncoding = utf-8
	commitEncoding = utf-8
